@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

color-controls {
  width: 100%;
}

.form-input {
  @apply w-full px-3 py-2 max-h-10  bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:border-blue-500;
}

.form-label {
  @apply block text-sm font-medium text-gray-300 mb-1;
}

.form-group {
  @apply mb-4;
}

.color-input {
  @apply w-10 h-10 min-w-10 min-h-10 max-h-10 rounded cursor-pointer border-2 border-gray-600 focus:outline-none focus:border-blue-500;
}

.btn-primary {
  @apply px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 disabled:bg-gray-600 disabled:cursor-not-allowed;
}
