.text-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-controls input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.text-controls-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text-controls-row select {
  width: 190px;
  border-radius: 4px;
}

.text-controls-row input[type="color"] {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.text-controls-row input[type="number"] {
  border-radius: 4px;
}

